.nav{
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 180px;
}

.logo> img{
    width: 100%;
}

.list{
    width: 600px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    width: 400px;
    list-style-type: none;
}

.item{
    margin-right: 20px;
}

.navlink{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-input{
    padding : 10px 15px ;
    border: none;
    border-radius: 3px;
    outline: none;
}

/* Responsive style start */

@media only screen and (max-width:425px){
    .nav{
        padding: 5px 10px;
    }

    .nav-input{
        display: none;
    }

    .logo{
        width: 100px;
        height: 30px;
    }

    .navlink{
        font-size: 14px;
    }

    .list{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}