.link{
    text-decoration: none;
    display: inline-block;
}

.card{
    position: relative;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: darkcyan;
    margin-bottom: 20px;
    color: white;
}

.card__rating{
    position: absolute;
    background-color: #fff;
    top: 10px;
    right: 10px;
    color: blue;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card__img{
    width: 100%;
}

.card__title, .card__year{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #fff;
}


/* Responsive style start */

@media only screen and (max-width:425px){
    .link{
        width: 100%;
        margin-bottom: 15px;
    }

    .card{
        width: 95%;
        padding: 10px;
        margin: 0 auto;
        text-align: center;
    }

    .card__title, .card__year{
        font-size: 16px;
    }

    .card__img{
        border-radius: 5px;
    }
}
